<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="84dd2308-235f-4745-93b5-47e9800faa26" name="https://restcountries.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="84dd2308-235f-4745-93b5-47e9800faa26fileName">https%3A%2F%2Frestcountries.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
