<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4db38827-0b26-44b3-ab00-c25d34fe0525" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://restcountries.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="4db38827-0b26-44b3-ab00-c25d34fe0525fileName">https%3A%2F%2Frestcountries.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://restcountries.com</con:endpoint>
  </con:endpoints>
</con:interface>
